@model SeriesViewModel

<div class="p-4">
  <div class="pb-2">
    <h1>Series</h1>
  </div>

  @if (Model.series.Count() == 0)
  {
    <p>There are no series</p>
  }
  else
  {
    <div class="rounded w-75" style="border-width: 2px; border-style:solid;">
      <table class="table table-sm m-0">
        <tr>
          <th scope="col"> </th>
          <th scope="col"> Team 1 </th>
          <th scope="col"> Team 2 </th>
          <th scope="col"> Result </th>
          <th scope="col"> Version </th>
          <th scope="col"> </th>
        </tr>

        @{

          if (User.IsInRole("viewer"))
          {
            foreach (Series series in Model.series)
            {
              if (series.Team1.PrimaryColor == series.Team2.PrimaryColor) {series.Team2.TeamColor1 = series.Team2.TeamColor2;}
              <tr>
                <th scope="col"> </th>
                <th style="color: #@series.Team1.TeamColor1"> @series.Team1.FullName </th>
                <th style="color: #@series.Team2.TeamColor1"> @series.Team2.FullName </th>
                <td> @series.Team1W-@series.Team2W </td>
                <td> @series.NBA2k </td>
                <td> <a asp-action="SeriesDetail" asp-route-id="@series.SeriesID"> Series Stats </a> </td>
              </tr>
            }
          }
          else {
            foreach (Series series in Model.series.Where(s => s.Team1.IsAppropriate == true && s.Team2.IsAppropriate == true))
            {
              if (series.Team1.PrimaryColor == series.Team2.PrimaryColor) {series.Team2.TeamColor1 = series.Team2.TeamColor2;}
              <tr>
                <th scope="col"> </th>
                <th style="color: #@series.Team1.TeamColor1"> @series.Team1.FullName </th>
                <th style="color: #@series.Team2.TeamColor1"> @series.Team2.FullName </th>
                <td> @series.Team1W-@series.Team2W </td>
                <td> @series.NBA2k </td>
                <td> <a asp-action="SeriesDetail" asp-route-id="@series.SeriesID"> Series Stats </a> </td>
              </tr>
            }
          }

        }
      </table>
    </div>
  }
</div>
